[submodule "fastchat"]
	path = fastchat
	url = https://github.com/kenplusplus/FastChat.git
[submodule "intel-extension-for-pytorch"]
	path = intel-extension-for-pytorch
	url = https://github.com/intel/intel-extension-for-pytorch.git
[submodule "kube-prometheus"]
	path = kube-prometheus
	url = https://github.com/prometheus-operator/kube-prometheus.git
