[submodule "fastchat"]
	path = fastchat
	url = https://github.com/intel-innersource/os.linux.cloud.mvp.fastchat.git
[submodule "intel-extension-for-pytorch"]
	path = intel-extension-for-pytorch
	url = https://github.com/intel-sandbox/cse-ipex.git
